name: textlint
on: pull_request
jobs:
  textlint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: 10.*
      - run: npm install
      - name: danger-textlint-actions
        uses: yuichielectric/danger-textlint-actions@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
